.nav {
    display: flex;

    .tabs {
        height: 64px;

        div {
            height: 100%;
        }

        .tab {
            height: 100%;
        }
    }

    .logout {
        color: #fff;
    }
}