.products {
    background: #eeeeee;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .container {
        height: 100%;
        width: 100%;

        .row {
            cursor: pointer;
        }
    }
}